.produit-container {
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.en-stock {
  border: 2px solid green;
  background: #eaffea;
}

.hors-stock {
  border: 2px solid red;
  background: #ffeaea;
}

button {
  margin-right: 10px;
  padding: 8px 12px;
}
