h3 {
  text-align: center;
  margin-bottom: 10px;
}

ul {
  padding: 0;
  list-style: none;
}

li {
  padding: 8px;
  background: #f3f3f3;
  margin-bottom: 5px;
  border-radius: 5px;
  transition: 0.3s ease;
}

li:hover {
  background: #dcdcdc;
}

.empty {
  color: #888;
  text-align: center;
  font-style: italic;
  margin-top: 10px;
}
